@layer base {
  .intro { padding: 3.25rem; border: 1px solid var(--mongulu-divider); border-radius: 1rem; }
  @media (max-width: 1023px) {
    .intro { padding: 2rem; }
  }
  @media (max-width: 639px) {
    .intro { padding: 1.25rem; }
  }
}
